
<div class="container-fluid">
  <article class="container index-body">
    <% @posts.each do |post| %>
      <section>
        <%= image_tag url_for(post.image) %>
        <p><%= post.content %></p>
        <small>has <%= pluralize(post.comments.count, 'comment') %></small>
        <small>Posted <%= "by #{ post.user.user_name }"%>
        <%= time_ago_in_words(post.created_at) unless post.created_at.blank? %> ago</small>
        <div class="buttons">
          <button><%= link_to 'Show', post %></button><br>
          <h4>Categorie(s)</h4>
          <% post.tags.each do |tag| %>
            <button><%= link_to tag.name, tag_path(tag) %></button>
          <% end %>
        </div>
        <br>
      </section>
    <% end %>
  </article>

  <hr>
  <div class="container links">
    <button>
      <%= link_to 'New Post', new_post_path %>
    </button>
  </div>

</div>